@use "./partials/queries.scss" as mix;
@import "./partials/_variables.scss";
@import "./partials/navbar.scss";
@import "./partials/landing.scss";
@import "./partials/skills.scss";
@import "./partials/projects.scss";
@import "./partials/contact.scss";

body {
  margin: 0px;
}

.section-block {
  font-family: "Rubik", Helvetica, sans-serif;
  font-weight: 500;
  padding: 1em;

  &--green {
    background-color: $light-green;
    color: $blue-grey;
  }
  &--grey {
    background-color: $light-orange;
    color: $dark-green;
  }
}

.section-block_container {
  width: 100%;
  margin: auto;
  @include mix.phone {
    width: 95%;
  }
  @include mix.small-tablet {
    width: 85%;
  }
  @include mix.tablet {
    width: 70%;
  }
  @include mix.laptop {
    width: 65%;
  }
  @include mix.desktop {
    width: 60%;
  }
  &--small {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

#footer {
  font-family: "Rubik", Helvetica, sans-serif;
  padding: 0.25em;
  padding-right: 3em;
  background-color: $dark-blue;
  color: $light-green;
}
