@import "./variables.scss";

.skills-subheading {
  font-family: "Share Tech Mono", monospace;
  font-weight: 700;
}

.languages-list {
  display: flex;
  flex-direction: row;
  list-style: none;
  column-gap: 1em;
  &_item {
    width: 64px;
    height: auto;
  }
}
