// Colour pallete:
$dark-blue: #00112c;
$blue-grey: #292f38;
$light-orange: #fff0c5;
$light-green: #cdebdb;
$dark-green: #0d3a1f;

//screen sizes
$xxs: 343px;
$xs: 385px;
$sm: 720px;
$md: 820px;
$lg: 1024px;
$xl: 1440px;
